#homepage {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 100px 100px 100px;
    min-width: fit-content;
    width: fit-content;
    min-height: 750px;
    position: relative;
}

@media (max-width: 700px) {
    #homepage {
        min-width: 700px;
    }
}

#homepage-caption {
    font-size: .75rem;
    position: absolute;
    bottom: 15px;
}

.homepage-intro {
    font-size: 1.5rem;
}

#homepage h6 {
    font-size: 1.2rem;
    padding-top: 50px;
}

.homepage-nav {
    background-color: #3a86ff;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    margin: 10px;
    padding: 20px;
}

.homepage-nav .homepage-nav-title h2{
    font-size: 1.3rem;
    font-weight: 500;
}

.homepage-nav .homepage-nav-links a{
    text-decoration: none;
    color: white;
}

.homepage-nav.final {
    min-height: 153.91px; 
}

.homepage-nav.final a{
    text-decoration: none;
    color: white;
}

.homepage-user-info {
    font-size: 1.2rem;
}
.homepage-user-info button.homepage-logout {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #homepage {
        font-size: 1.75rem;
    }
    
    #homepage h1 {
        font-size: 8rem;
    }
}

@media (min-width: 992px) {
    #homepage h6 {
        font-size: 1.5rem;
    }

    #homepage h1 {
        font-size: 11rem;
    }
}

@media (min-width: 1200px) {
    #homepage {
        font-size: 1.5rem;
    }

    #homepage h1 {
        font-size: 11rem;
    }
    .homepage-user-info {
        font-size: 1.5rem;
    }
    .homepage-user-info button.homepage-logout {
        font-size: 1.5rem;
    }
}

button.btn.homepage-button {
    background-color: #ff006e;
    opacity: .8;
    margin: 50px;
    color: white;
}

button.btn.homepage-button:hover {
    background-color:#ff006e;
    opacity: 1;
}

button.btn.homepage-logout {
    background-color: #ff006e;
    opacity: .8;
    border:0pxs;
    color: white;
}

button.btn.homepage-logout:hover {
    background-color:#ff006e;
    opacity: 1;
}

.homepage-logout-col {
    text-align: right;
}

.logged-in-as {
    text-align: left;
}