@import url('https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');

.flex {
  display: flex;
}

.row.header-row {
  display: flex;
  justify-content: space-between;
}

.row.header-row h1 {
  max-width: fit-content;
}

.type-header {
  font-weight: lighter;
  color: rgb(188, 188, 188);
}

#content .row {
  margin: 0px;
}


.container.learn-quiz-container {
  padding: 20px;
}