
.login-container {
    display: flex;
    color: #492f33ff;
}

.login-welcome {
    color: white;
    height: 100vh;
    min-width: 55vw;
    padding: 40px;
    padding-top: 70px;
    background-image: url('https://www.moca.org/storage/app/uploads/public/579/fec/1f4/thumb_1630_726_0_0_0_auto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.login-welcome h1 {
    font-size: 3rem;
}

.login-welcome p {
    font-weight: lighter;
}

@media (min-width: 768px) {
    .login-welcome h1 {
        font-size: 4rem;
    }
}

@media (min-width: 992px) {
    .login-welcome h1 {
        font-size: 5rem;
    }
    .login-welcome p {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .login-welcome {
        padding-left: 60px;
    }
    .login-welcome h1 {
        font-size: 7rem;
    }
    .login-welcome p {
        font-size: 1.5rem;
    }
}

.login-form .btn {
    background-color: #3e5389ff;
}

.login-form .btn:hover {
    background-color: #492f33ff;
}

.login-form .form-label {
    color: grey;
    font-size: .9em;
}
  
.login-form-container .row {
    margin-top: 40px;
    padding: 30px;
}
  
.login-caption {
    font-size: x-small;
    font-weight: lighter;
    position: absolute;
    bottom: 20px;
}
  