
.my-card.card {
    border-color: whitesmoke;
}

.my-card .card-header {
    border-color: whitesmoke;
}

.my-card .card-header-tabs .nav-link.active {
    border-color: whitesmoke;
    border-bottom: 0px;
}

.my-card.card .nav-link {
    color: black;
    font-weight: bold;
}

.my-card .card-body {
    padding: 10px;
}

.my-card .card-text {
    color: slategrey;
}

.my-card img {
    max-height: 500px;
}

.my-card .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.my-card {
    padding: 0px;
    max-width: 72rem;
}
.row {
    margin: 0px;
}

.my-card .card-subtitle {
    font-weight: normal;
    font-size: small;
    color: lightgrey;
}