.page-nav .current {
    background-color: lightgrey;
}

.page-nav .navbar-nav {
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}

.page-nav .navbar-nav a.nav-link {
    color: black;
    border-radius: 5px;
    padding: 8px 15px;
}

.page-nav .navbar-nav a.page-number:hover {
    background-color: lightgrey;
}

.page-nav .navbar-nav a.back-next {
    cursor: pointer;
}