figure.question-media {
    max-width: 40rem;
}

div.col.question-media-col {

}

.question-number {
    font-size: 1.5rem;
    color: rgb(39, 89, 199);
    padding-bottom: 20px;
    padding-top: 0px;
    padding-left: 0px;
}

.question-text {
    padding: 20px;
    padding-left: 0px;
}

.quiz-text {
    font-size: 1.2rem;
}

.question-media-row {
    align-items: center;
    justify-content: center;
}

  
.quiz-option-image {
    max-width: 25rem;
    padding: 15px;
}

.quiz-option-text {
    font-size: 1.2rem;
    padding-bottom: 10px;
}


button.quiz-button {
    max-width: fit-content;
    background-color: rgb(39, 89, 199);
}
  
.image-form .mb-3 {
    padding-top: 20px
}
  
.option-group {
    display: block;
}
  
.correct {
    color: green;
}
  
.incorrect {
    color: red;
}

.feedback {
    border: 2px solid;
    border-radius: 5px;
    width: fit-content !important;
    padding: 10px;
    margin-bottom: 10px;
}